<footer class="footer">
  <div class="social-icons">
    <a href="https://facebook.com" target="_blank"
      ><i class="fab fa-facebook-f"></i
    ></a>
    <a href="https://twitter.com" target="_blank"
      ><i class="fab fa-twitter"></i
    ></a>
    <a href="https://instagram.com" target="_blank"
      ><i class="fab fa-instagram"></i
    ></a>
    <a href="https://youtube.com" target="_blank"
      ><i class="fab fa-youtube"></i
    ></a>
    <a href="https://pinterest.com" target="_blank"
      ><i class="fab fa-pinterest-p"></i
    ></a>
  </div>
  <div class="footer-text">
    O conteúdo deste site está protegido por copyright e é propriedade da H & M
    Hennes & Mauritz AB. O conceito de negócio da H&M é a oferta de moda e
    qualidade aos melhores preços, de forma sustentável. Desde que foi fundada,
    em 1947, a H&M tornou-se uma das maiores empresas de moda do mundo.
  </div>
</footer>
