<div class="container my-4">
  <div class="row g-4">
    <div class="col-md-3">
      <div class="filter-box p-3 bg-light border rounded">
        <h5 class="mt-3 mb-2 text-center">Tipo</h5>
        <div class="form-check mb-2" *ngFor="let type of sortedTypes">
          <input
            class="form-check-input"
            type="radio"
            [id]="'type-' + type"
            name="typeFilter"
            [value]="type"
            [(ngModel)]="selectedType"
          />
          <label
            class="form-check-label text-capitalize"
            [for]="'type-' + type"
          >
            {{ type }}
          </label>
        </div>

        <h5 class="mt-4 mb-2 text-center">Cor</h5>
        <div class="form-check mb-2" *ngFor="let color of sortedColors">
          <input
            class="form-check-input"
            type="radio"
            [id]="'color-' + color"
            name="colorFilter"
            [value]="color"
            [(ngModel)]="selectedColor"
          />
          <label
            class="form-check-label text-capitalize"
            [for]="'color-' + color"
          >
            {{ color }}
          </label>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <h5 *ngIf="filteredTotal > 0" class="mb-3">
        Total de resultados: {{ filteredTotal }}
      </h5>

      <div class="row g-3">
        <div class="col-6 col-sm-4 col-md-4" *ngFor="let p of filteredProducts">
          <a
            [routerLink]="['/product', p._id]"
            class="text-decoration-none text-dark position-relative d-block"
          >
            <div class="card h-100 border-0 shadow-sm position-relative">
              <img
                [src]="imageUrl(p.mainPhoto)"
                class="card-img-top"
                [alt]="p.name"
              />

              <i
                [ngClass]="p.wishlist ? 'fas fa-star' : 'far fa-star'"
                style="
                  position: absolute;
                  top: 10px;
                  right: 10px;
                  font-size: 20px;
                  cursor: pointer;
                  z-index: 2;
                "
                (click)="toggleWishlist(p, $event)"
                title="Adicionar/Remover da wishlist"
              ></i>

              <div class="card-body">
                <h5 class="card-title-products-brand">{{ p.brand }}</h5>
                <p class="card-title-products">{{ p.name }}</p>
                <p class="card-price-products">{{ p.price }}€</p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div
        class="text-center mt-4"
        *ngIf="filteredProducts.length < filteredTotal"
      >
        <button class="btn btn-dark btn-lg w-100" (click)="loadMore()">
          Ver mais
        </button>
      </div>
    </div>
  </div>

  <app-login #loginModal></app-login>
</div>
